html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    color: #000;
    background: #fff;


}
img {
    max-width: 100%; /* DO NOT delete or change this line */



}
header {
    background: #666;
    color: #fff;
    padding: 2rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
h2 {
   text-align: center;
}
article {
      display: flex;
      flex-direction: column;
      align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;

}

nav ul li {
    margin: 0;
    margin-left: 3rem;
    font-size: 2rem;
}

footer {
    color: #fff;
    background: #666;
    padding: 2rem;
    margin: 0;
    text-align: center;
}

section {
  max-width: 600px;
  line-height: 30px;
}


/* you will add css rules for element selectors and IDs */

#cougar {

       background-color: #b26219;

}
#lion {

       background-color: #ffd5ae;


}
#tiger {
      background-color: #ff8d82;


}


.photo {
    margin: 40px 20px 10px 20px;

  }
.text {
    background-color: #fff;
    padding: 80px;
    font-size: 15px;
    margin: 10px 20px 40px 20px;


}




/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
            color: #82e8ff;

}
a:hover {
    color: #82e8ff;

}
nav a {
            color: #379cb2;
            text-decoration: none;
}
nav a:hover {
    color: #379cb2;
    text-decoration: none;
}
